<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="quoteBook" ng-controller="mainCtrl">
<div ng-repeat="quote in quotes">
    <ul>
        <li>{{quote.text}} {{quote.author}}</li>
        <button class = button ng-click="removeQuote(quote.text)">X</button>
</div>

<button class = button ng-click="addQuote(quoteText, quoteAuthor)">Add Quote</button>

<input ng-model="quoteText" class="form-control" placeholder="Add quote">
<input ng-model="quoteAuthor" class="form-control" placeholder="Add author">

<P><input ng-model=""
    
    button class = button ng-click="filterQuote" placeholder="Enter motivational or thoughtful to filter the display"></P>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/dataService.js"></script>
<script src="js/mainCtrl.js"></script>
</body>
</html>

